<div 
  class="card" 
  [ngStyle]="{'width': width | percentOrPx, 'height': height | percentOrPx}">
  <div class="card-header">
    <label *ngIf="title" [ngStyle]="titleStyle" class="card-header--title">
      {{ title }}
    </label>
  </div>
  <mat-divider class="card-divider" [inset]="true"></mat-divider>
  <section class="card-body">
    <div *ngIf="loading" class="card-loading">
      <mat-spinner class="card-loading-spinner"></mat-spinner>
    </div>
    <div [ngStyle]="{visibility: loading ? 'hidden' : 'visible'}">
      <ng-content select="app-card-body"></ng-content>
    </div>
  </section>
</div>