<div 
    class="covid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="covid-row">
        <app-card 
            [title]="'Overview COVID-19 Data'" 
            [loading]="!(overviewData$ | async)" 
            class="covid-row-card">
            <app-card-body>
                <div class="overview" *ngIf="(overviewData$ | async) as usaOver">
                    <app-card-item 
                        *ngFor="let item of usaOverviewItems" 
                        [title]="item.title" 
                        [icon]="item.icon"
                        [data]="usaOver[item.key]">
                    </app-card-item>
                </div>
            </app-card-body>
        </app-card>
    </div>
    <div class="covid-row">
        <app-card [title]="'Last week Overview'" [loading]="chartLoading" class="covid-row-card">
            <app-card-body>
                <div class="chart">
                    <app-chart [chartData]="chartData" *ngIf="!chartLoading"></app-chart>
                </div>
            </app-card-body>
        </app-card>
    </div>
    <div class="covid-row" *ngFor="let state of covidStates" >
        <app-card [title]="state.name" class="covid-row-card">
            <app-card-body>
                <div class="overview">
                    <app-card-item 
                        *ngFor="let item of usaOverviewItems" 
                        [title]="item.title" 
                        [icon]="item.icon"
                        [data]="state[item.key]">
                    </app-card-item>
                </div>
            </app-card-body>
        </app-card>
    </div>
</div>